.detail {
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.fondo2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text {
  text-align: center;
  color: #01060a;

  font-size: 70%;

  box-shadow: 0 0 20px #77706e, 0 0 60px #77706e, 0 0 20px #77706e;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.botondetail {
  display: inline-block;
  font-weight: bold;
  padding: 10px 10px;

  letter-spacing: 3px;
  font-size: 15px;
  text-transform: uppercase;
  border-color: #7c7069;
  transition: all 0.3s ease-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  background: linear-gradient(to right, rgb(59, 115, 235), rgb(146, 209, 228));
}
.botondetail:hover {
  background: #77706e;
  color: beige;
  border-color: #77706e;
  box-shadow: 0 0 50px #77706e, 0 0 80px #77706e, 0 0 120px #77706e;
}
.imagend img {
  height: 100%;
  width: 100%;
  border-color: #77706e;
  border-radius: 1rem;
  box-shadow: 0 0 20px #77706e, 0 0 60px #77706e, 0 0 20px #77706e;
}
