.fondo {
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.homeCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  grid-column: 6 / 9;
  grid-row: 7 / 14;
  margin-left: 70px;
}

.title {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 0.5em 0em;

  margin: 0 0 0 -20em;
  position: relative;
  left: 23%;
  top: 5%;
}

.buttonLoad {
  display: inline-block;
  font-weight: bold;
  padding: 10px 10px;

  letter-spacing: 3px;
  font-size: 15px;
  text-transform: uppercase;
  border-color: #7c7069;
  transition: all 0.3s ease-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  background: linear-gradient(to right, rgb(59, 115, 235), rgb(146, 209, 228));
}
.buttonLoad:hover {
  background: #77706e;
  color: beige;
  border-color: #77706e;
  box-shadow: 0 0 50px #77706e, 0 0 80px #77706e, 0 0 120px #77706e;
}

.ubicacioncreate {
  position: relative;
  left: 30%;
  top: 20%;
}
.createvideo {
  font-weight: bold;
  padding: 10px 10px;

  letter-spacing: 3px;
  font-size: 15px;
  text-transform: uppercase;
  border-color: #7c7069;
  transition: all 0.3s ease-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  background: linear-gradient(to right, rgb(59, 115, 235), rgb(146, 209, 228));
}
.createvideo:hover {
  background: #77706e;
  color: beige;
  border-color: #77706e;
  box-shadow: 0 0 50px #77706e, 0 0 80px #77706e, 0 0 120px #77706e;
}
